@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/Interstate-light.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Interstate-regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Interstate-bold.ttf'); /* IE9 Compat Modes */
}

body {
  margin: 0;
  font-family: 'Interstate';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
